WebServicesTextFilesCompressorClient/src/conf/xml-resources/web-service-references/WebTextFilesCompressor/wsdl/localhost_8080/TextFilesCompressor/WebTextFilesCompressor.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.webservicestextfilescompressor/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.webservicestextfilescompressor/" name="WebTextFilesCompressor">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.webservicestextfilescompressor/" schemaLocation="http://localhost:8080/TextFilesCompressor/WebTextFilesCompressor?xsd=1"/>
</xsd:schema>
</types>
<message name="decompressFile">
<part name="parameters" element="tns:decompressFile"/>
</message>
<message name="decompressFileResponse">
<part name="parameters" element="tns:decompressFileResponse"/>
</message>
<message name="compressFile">
<part name="parameters" element="tns:compressFile"/>
</message>
<message name="compressFileResponse">
<part name="parameters" element="tns:compressFileResponse"/>
</message>
<message name="getOperationsHistory">
<part name="parameters" element="tns:getOperationsHistory"/>
</message>
<message name="getOperationsHistoryResponse">
<part name="parameters" element="tns:getOperationsHistoryResponse"/>
</message>
<portType name="WebServiceTextFilesCompressor">
<operation name="decompressFile">
<input wsam:Action="http://webservices.webservicestextfilescompressor/WebServiceTextFilesCompressor/decompressFileRequest" message="tns:decompressFile"/>
<output wsam:Action="http://webservices.webservicestextfilescompressor/WebServiceTextFilesCompressor/decompressFileResponse" message="tns:decompressFileResponse"/>
</operation>
<operation name="compressFile">
<input wsam:Action="http://webservices.webservicestextfilescompressor/WebServiceTextFilesCompressor/compressFileRequest" message="tns:compressFile"/>
<output wsam:Action="http://webservices.webservicestextfilescompressor/WebServiceTextFilesCompressor/compressFileResponse" message="tns:compressFileResponse"/>
</operation>
<operation name="getOperationsHistory">
<input wsam:Action="http://webservices.webservicestextfilescompressor/WebServiceTextFilesCompressor/getOperationsHistoryRequest" message="tns:getOperationsHistory"/>
<output wsam:Action="http://webservices.webservicestextfilescompressor/WebServiceTextFilesCompressor/getOperationsHistoryResponse" message="tns:getOperationsHistoryResponse"/>
</operation>
</portType>
<binding name="WebServiceTextFilesCompressorPortBinding" type="tns:WebServiceTextFilesCompressor">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="decompressFile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="compressFile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getOperationsHistory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WebTextFilesCompressor">
<port name="WebServiceTextFilesCompressorPort" binding="tns:WebServiceTextFilesCompressorPortBinding">
<soap:address location="http://localhost:8080/TextFilesCompressor/WebTextFilesCompressor"/>
</port>
</service>
</definitions>